@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic');

html {
  min-height: 100%;
}

body {
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #ffffff;
  font-family: Montserrat;
  font-style: normal;
}

/* Fonts */

/* fonts style here */

.text--upper {
  text-transform: uppercase;
}

/* Toggle */

.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cacaca;
  border-radius: 10px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #151515;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Common */

.wrapper {  
  box-sizing: border-box;
  min-width: 720px;
  margin: 0;
  padding: 0 64px;
}

.fixed--top {
  position: fixed;
  top: 0;
  z-index: 1030;
}

.page-layout {
  box-sizing: content-box;
  max-width: 1200px;
  min-width: 720px;
  margin: 0 auto;
  padding: 64px;
  padding-top: 157px;
}

.nav__item {
    -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  display: inline-block;
  position: relative;
}

.button--action {
  position: relative;
  background: #151515;
  border: none;
  border-radius: 54px;
  
  padding: 12px 23px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  
  text-align: center;
  text-transform: uppercase;
  
  color: #ffffff;
}

.button--action:hover {
  background: #303030;
}

.button--action:active {
  background: #404040;
}

input[type=text]:not(.browser-default):focus:not([readounly]),
input[type=email]:not(.browser-default):focus:not([readounly]),
input[type=password]:not(.browser-default):focus:not([readounly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 100px;
}

.card {
  background: #fafafa;
}