@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic');

html {
  min-height: 100%;
}

body {
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #ffffff;
  font-family: Montserrat;
  font-style: normal;
}

/* Fonts */

/* fonts style here */

.text--upper {
  text-transform: uppercase;
}

/* Common */

.wrapper {  
  box-sizing: border-box;
  margin: 0;
  padding: 0 64px;
}

.nav__item {
    -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  display: inline-block;
  position: relative;
}

.button--action {
  position: relative;
  background: #151515;
  border: none;
  border-radius: 54px;
  
  padding: 12px 23px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  
  text-align: center;
  text-transform: uppercase;
  
  color: #ffffff;
}

.button--action:hover {
  background: #303030;
}

.button--action:active {
  background: #404040;
}

input[type=text]:not(.browser-default):focus:not([readounly]),
input[type=email]:not(.browser-default):focus:not([readounly]),
input[type=password]:not(.browser-default):focus:not([readounly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin: 0;
  padding: 0;
}

.dashboard {
  margin: 32px 0;
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin-top: 100px;
}

.card {
  background: #fafafa;
}