.nav--auth {
  margin-bottom: 32px;
}

.nav--auth__item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}

.nav--auth__item:not(:last-child)::after {
  content: "/";
  margin: 0 8px;
}

.nav--auth__link {
  display: inline-block;
  text-decoration: none;
  color: #aecee8;  
  border-bottom: 2px dashed #AECEE8;
  transition: all .10s ease-in-out;
}

.nav--auth__link:hover {
  color: #151515;
  border-bottom: 2px solid #151515;
}

.nav--auth__item[state="current"] .nav--auth__link {
  color: #151515;
  border-bottom: none;
}

.form--auth__input-field {
  position: relative;
  margin-bottom: 24px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.form--auth__input-field:last-of-type {
  margin-bottom: 32px;
}

.form--auth__input {
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 0 8px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  
  border: none;
  outline: none;
  box-shadow: none;
  transition: all .25s;
}

#nickname {
  width: 75%;
  margin-right: 25%;
}

.form--auth__input:required:valid {
  background: #8bf2bb;
  color: #151515;
}

.form--auth__input:required:invalid {
  background: #f69898;
  color: #151515;
}

.form--auth__input:required:placeholder-shown {
  background: #d7e8f6;
  color: #ffffff;
}

.form--auth__input:required:focus {
  background: #151515;
  color: #ffffff;
}

.form--auth__label {
  position: absolute;
  width: 100%;
  left: calc(-100% - 16px);
  text-align: end;
}